/* Fonts settings */
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
textarea {
  resize: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #ca8f02;
}
/* Typography */
section {
  padding: 5rem 0;
}
.form {
  /* Главная форма */
  /* Поля */
  /* Кнопка отправить заявку */
}
.form-input {
  display: block;
  margin: 1.9rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
  border-radius: 5px;
}
.form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
/* Main */
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/fon.jpg) center center no-repeat;
  background-size: cover;
  /*Подзаголовок */
  /*Оплата по факту */
  /*Зеленый ярлык*/
  /*Главная форма */
  /*Заголовок формы */
}
.main-content {
  margin-top: 10rem;
  /*Главный заголовок */
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.45;
}
.main-subtitle {
  margin-bottom: 5rem;
  font-size: 2.3rem;
}
.main-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_Bold', sans-serif;
  display: block;
  margin-top: 3.5rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  /*Цифра 300 рублей*/
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-form {
  text-align: center;
  padding: 4rem 5rem;
  background-color: #ffffff;
}
.main-form-header {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 2rem;
}
.main small {
  display: block;
  margin-top: 1.5rem;
}
/* Секция с преимуществами */
.features-block {
  text-align: center;
  margin-bottom: 5rem;
}
.features-block h3 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.price {
  background: url(../img/prices/prices-bg.jpg) center;
  padding: 0;
}
.price-button-prices {
  text-align: right;
  margin-top: 100px;
}
.price-block {
  padding: 1rem 3rem 4rem;
  min-height: 51rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  margin-bottom: 60px;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.price-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li::before {
  content: '';
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  background: url(../img/prices/checked.jpg) no-repeat;
  vertical-align: middle;
  margin-right: 1rem;
  background-size: 100%;
}
/* Секция с отзывами(слайдеры) */
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
  /* Оформление главной формы */
}
.feedback-icon {
  margin-top: 2.5rem;
}
.feedback-icon-heading {
  position: relative;
  display: inline-block;
  margin-left: 5.2rem;
}
.feedback-icon-heading span {
  font-size: 1.4rem;
  line-height: 6px;
}
.feedback-icon-heading h4 {
  font-size: 1.6rem;
  line-height: 6px;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.feedback-icon-left {
  display: inline-block;
  background: url(../img/feedback/person.jpg) no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: 1.8rem;
  float: right;
}
.feedback-text {
  position: relative;
  margin-top: 4rem;
  padding: 1rem;
  border: 2px solid #46b814;
  font-style: italic;
  text-align: center;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-slider {
  margin-bottom: 5rem;
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  margin-top: 6rem;
  padding: 4rem 8rem;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 4px);
          transform: translate(-50%, 4px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 30rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
/* Sliders */
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
  margin-top: 96px;
}
.section-header h2 {
  font-size: 3.6rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.section-header p {
  font-size: 1.4rem;
}
.section-header_light {
  color: #ffffff;
}
.slick-active {
  outline: none;
}
.prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
/* Схема работы */
.scheme {
  background: url(../img/sheme/bg-sheme.png) bottom -10rem right -18rem no-repeat;
  background-size: 65rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
/* Все на 100% включено */
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive .media {
  min-height: 9rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  padding: 0.3rem;
  height: 5rem;
  border: 2px solid #46b814;
  text-align: center;
  border-radius: 50%;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2rem;
}
/* Мы развеем все опасения */
.problems {
  position: relative;
}
.problems-woman {
  width: 30rem;
  margin-left: -18rem;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 35rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.problems-list ul {
  position: relative;
  padding-left: 0;
  padding-top: 2rem;
  list-style: none;
}
.problems-list ul li {
  padding-left: 4rem;
  position: relative;
  margin-bottom: 3rem;
}
.problems-list ul li::before {
  content: '';
  position: absolute;
  width: 3rem;
  height: 4rem;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li::before {
  background: url(../img/problems/cancel.svg) center no-repeat;
  background-size: 70%;
}
.problems-list_good ul li::before {
  background: url(../img/problems/cheked-problems.svg) center no-repeat;
}
.materials {
  background: #ffffff url(../img/materials/mt-bg.png) center no-repeat;
  background-size: cover;
  min-height: 35rem;
}
.materials-offer {
  text-align: center;
  margin-top: 4rem;
}
.materials-link {
  color: #46b814;
  border-bottom: 1px dotted #46b814;
  font-size: 1.3rem;
}
.materials-link:hover {
  color: #348a0f;
}
.materials-slider {
  padding-top: 5rem;
}
.materials img {
  display: block;
  margin: 0 auto;
}
/* Посмотрите как мы работаем  */
.tour {
  background: #ffffff url(../img/tour/tour-bg.png) center no-repeat;
  background-size: cover;
}
.tour-subtitle {
  font-size: 2.2rem;
}
/* Подвал */
.upsell {
  background: #286b0a;
}
.upsells {
  margin-top: 2rem;
}
.upsell img {
  display: inline-block;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 2rem;
}
.upsell-block {
  text-align: center;
  color: #ffffff;
  min-height: 30rem;
}
.upsell-block p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
/* Подвал */
.contacts {
  background: #ffffff url(../img/footer/footer-bg.png) center no-repeat;
  background-size: cover;
}
.contacts h2 {
  font-family: 'ProximaNova_Bold', sans-serif;
}
.contacts p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contacts-link {
  display: inline-block;
  color: #1a1820;
  border-bottom: 1px dotted #1a1820;
}
.contacts-link:hover {
  color: #020203;
}
.contacts-form-header {
  font-size: 18px;
  font-family: 'ProximaNova_Reg', sans-serif;
  margin-bottom: 3rem;
}
.contacts-form {
  margin-top: 3rem;
}
.footer-contacts {
  text-align: center;
  padding-top: 0.5rem;
}
.footer p {
  margin: 0;
}
.footer-dev {
  text-align: right;
}
/* Оформление модальных окон */
.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -2rem;
  right: -4rem;
  border: none;
  width: 2rem;
  background-color: transparent;
  font-size: 4rem;
  color: #fff;
}
.popup-content {
  position: fixed;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #fff;
  padding: 4rem 2rem;
}
.popup-content {
  text-align: center;
}
.popup-thanks {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-thanks-close {
  position: absolute;
  top: -2rem;
  right: -2.7rem;
  border: none;
  width: 2rem;
  background-color: transparent;
  font-size: 4rem;
  color: #fff;
}
.popup-thanks-content {
  position: fixed;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #fff;
  padding: 2rem 3rem;
  text-align: center;
}
.popup-thanks-content p {
  font-size: 17px;
  padding-top: 20px;
}
.popup-thanks-header {
  font-size: 18px;
  font-weight: 600;
}
.set-label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.textarea-set {
  width: 300px;
  height: 80px;
}
.header {
  height: 7rem;
}
.wrap {
  width: 100%;
  height: 7rem;
  display: table;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  color: #1a1820;
  font-size: 2rem;
  display: inline-block;
  font-family: 'ProximaNova_Bold', sans-serif;
  height: 7rem;
  line-height: 7rem;
}
@media (max-width: 1201px) {
  .price-button-prices {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
  }
  .feedback-form {
    padding: 3rem 6rem;
  }
  .feedback .fotorama {
    margin-bottom: 4.5rem;
  }
  .scheme-block {
    min-height: 30rem;
    max-width: 270px;
  }
  .all-inclusive .media {
    min-height: 11rem;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  background: none;
  background-color: #f5f5f5;
  
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .price-button-prices {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .price-block {
    margin-top: 3rem;
  }
  .price .section-header_light {
    margin-bottom: 0;
  }
  .feedback-form {
    padding: 3rem 6rem;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .feedback-icon {
    margin-top: 3.5rem;
  }
  .hand {
    display: none;
  }
  .scheme {
    background: none;
  }
  .scheme-block {
    min-height: 25rem;
    max-width: 290px;
    margin: 0 auto;
    text-align: center;
  }
  .problems-list {
    margin-bottom: 4rem;
  }
  .problems-woman {
    display: none;
  }
  -subtitle {
    font-size: 2rem;
  }
  -btn {
    padding: 1rem 2rem;
  }
  .contacts {
    background: none;
    background-color: #f5f5f5;
  }
  .footer {
    text-align: center;
  }
  .footer-contacts {
    margin: 2rem 0;
  }
  .footer-dev {
    text-align: center;
  }
  .footer-dev_logo {
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-title h1 {
    font-size: 24px;
    display: inline;
  }
  .price-button-prices {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .price-button {
    text-align: center;
    position: relative;
    z-index: 3;
  }
  .price-block {
    margin-top: 3rem;
  }
  .phone-block {
    text-align: center;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback-next-btn {
    right: 0;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback label {
    white-space: nowrap;
  }
  .scheme {
    background: none;
    margin: 0 auto;
  }
  .scheme-block {
    min-height: 25rem;
  }
  .problems-list {
    margin-bottom: 4rem;
  }
  .problems-woman {
    display: none;
  }
  .problems .footer-dev {
    text-align: center;
    margin-top: 1rem;
  }
  .problems .popup-content {
    padding: 3rem 4rem;
  }
  .problems .popup-input {
    padding: 1.2rem;
  }
  .tour-subtitle {
    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  .main-title h1 {
    font-size: 22px;
  }
  .price-button-prices {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .scheme {
    background: none;
    margin: 0 auto;
    max-width: 270px;
  }
  .scheme-block {
    min-height: 27rem;
  }
  .materials-link {
    display: block;
    border-bottom: none;
    font-size: 1.6rem;
  }
  .form-btn {
    font-size: 1.4rem;
  }
  .feedback-slider p {
    font-size: 1.4rem;
  }
  .feedback-icon-heading h4 {
    font-size: 1.5rem;
    line-height: 15px;
  }
}
@media (max-width: 500px) {
  .main-title h1 {
    font-size: 20px;
  }
  .scheme {
    background: none;
    margin: 0 auto;
    max-width: 260px;
  }
  .scheme-block {
    min-height: 24rem;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .tour-subtitle {
    font-size: 1.6rem;
  }
}
@media (max-width: 400px) {
  .scheme {
    background: none;
    margin: 0 auto;
    max-width: 250px;
  }
  .scheme-block {
    min-height: 22rem;
  }
  .tour-subtitle {
    font-size: 1.5rem;
  }
}
